
{% extends "parent.html" %}
{% block content %}

    <body>
        <h2 class="second">Kontakt:</h2>
        <ul>
            <li class="third">email: kbanek@go2.pl</li>
            <li class="fourth">telefon: +48 741852963</li>
        </ul>
        <h2 class="fifth">Wyślij wiadomość:</h2>
        <h2 class="sixth">
            <form action="print" method="POST">
                <input name=""/>
                <input type="submit"/>
            </form>
        </h2>
    </body>
</html>
{% endblock %}

